.div {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    margin-top: -80px;
    position: sticky;

    
}

.ajaja:before {
    background: #0c0c0c;
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.2) 0%, 
        rgba(0, 0, 0, 0.6) 100%,
        ), 
        linear-gradient(
            180deg, 
            rgba(0,0,0,0.6) 0%, 
            transparent 100%,
            );
}
.cua{
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 4rem;
    font-size: clamp(1.5rem, 5vw,  2rem);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.ajajajja{
    padding-top: 1rem;
    padding-right: 2rem;


        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-size: italic;
        font-style:normal ;
    
}