.div {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    margin-top: -80px;
    position: sticky;
    font-weight: bold;
    font-weigth: bold;
    display: inline-block; ;
    
}

.ajaja:before {
    background: #0c0c0c;
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.5) 0%, 
        rgba(0,0,0,0.5) 35%, 
        rgba(0,0,0,0.5) 100%,
        ), 
    url(${FormBg}) no-repeat center;

}
.cua{
    text-align: center;
    padding-left: 2rem;
    margin-bottom: 4rem;
    font-size: clamp(1.5rem, 5vw,  2rem);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    display: flex;
    
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }

}

.ajajajja{
    padding-top: 1rem;
    padding-right: 2rem;


        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-size: italic;
        font-style:normal ;
        font-weight:lighter;
        align-items: flex-start;
        
        padding: 1 rem 1.5rem;
        outline: none;
        width: 350px;
        heigth: 68px;
        border-radius: 10px;
        border: none;
        margin-right: 1 rem;
        align-items: center;
    


    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 36%,
        rgba(0, 0, 0, 0.1) 100%
        ),
        url(${FormBg}) no-repeat center;
    
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #000;
    background: #fafafb;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    @media screen and (max-width: 820px){
        grid-template-columns: 1fr;
    }

}
