.div {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    margin-top: -80px;

    
}

.ajaja:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.2) 0%, 
        rgba(0, 0, 0, 0.6) 100%,
        ), 
        linear-gradient(
            180deg, 
            rgba(0,0,0,0.6) 0%, 
            transparent 100%,
            );
}